/* Base - Seletores de elementos únicos */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
span,
label {
    letter-spacing: 0.13px;
}

a {
    text-decoration: none;
}

iframe {
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    section {
        padding-bottom: 60px;
        padding-top: 60px;
    }
}