.display-flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.link-padrao {
    color: var(--white-01);
    font-family: "Montserrat", sans-serif;
    font-size: var(--fonte-12);
    font-weight: 500;
    line-height: 20px;
}

.paragrafos {
    color: var(--cinza-02);
    font-size: var(--fonte-14);
    line-height: 24px;
}

.btn-padrao {
    background-color: var(--cinza-03);
    border: 1px solid var(--cinza-03);
    color: var(--white-01);
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-12);
    font-weight: 600;
    line-height: 18px;
    transition: .3s;
    text-align: center;
}

.btn-padrao:hover {
    opacity: 0.7;
}

.secao__textos {
    margin: 0 230px 80px;
    text-align: center;
}

.secao--titulo {
    color: var(--amarelo-01);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-35);
    font-weight: 700;
    margin-bottom: 22px;
}

.section {
    padding: 110px 0;
}

@media screen and (max-width: 800px) {
    .secao__textos {
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding-left: 2%;
        padding-right: 2%;
    }
}