.header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 2%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header .n-primaria a {
    text-align: left;
}

.header__logo {
    flex: 1;
    text-align: left;
}

.n-desktop {
    flex: 3;
}

.n-desktop .n-desktop__itens {
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-end;
}

.n-desktop .n-desktop__itens a::after {
    background-color: var(--white-01);
    content: "";
    display: block;
    height: 2px;
    margin-top: 4px;
    transition: .3s;
    width: 0;
}

.n-desktop .n-desktop__itens a:hover::after {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .n-desktop {
        display: none;
    }
}