.l-header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 2%;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.l-header nav a {
    text-align: left;
}

.header-logo {
    flex: 1;
    text-align: left;
}

.nav-primaria {
    flex: 3;
}

.nav-primaria ul {
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-end;
}

.nav-primaria ul a::after {
    background-color: var(--white);
    content: "";
    display: block;
    height: 2px;
    margin-top: 4px;
    transition: .3s;
    width: 0;
}

.nav-primaria ul a:hover::after {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .nav-primaria {
        display: none;
    }
}