.quartos {
    background-color: var(--white-02);
}

.quartos__descricao {
    margin: 0 230px 80px;
    text-align: center;
}

.quartos--titulo {
    color: var(--amarelo-01);
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fonte-35);
    font-weight: 700;
    margin-bottom: 22px;
}

.quartos__cards {
    background-color: darkblue;
}