:root {
    --amarelo-01: #c0812a;
    --black-01: #000000;
    --black-02: #282828;
    --cinza-01: #848484;
    --cinza-02: #707070;
    --cinza-03: #8f887e;
    --white-01: #ffffff;
    --white-02: #f5f0e9;
}