:root {
    --fonte-12: 0.75rem;
    --fonte-13: 0.812rem;
    --fonte-14: 0.875rem;
    --fonte-18: 1.125rem;
    --fonte-24: 1.5rem;
    --fonte-28: 1.75rem;
    --fonte-35: 2.187rem;
    --fonte-45: 2.812rem
}