/* Base - Seletores de elementos únicos */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
    letter-spacing: 0.13px;
}

a {
    text-decoration: none;
}

.display-flex {
    display: flex;
}

.uppercase {
    text-transform: uppercase;
}